<p id="notice"><%= notice %></p>

<h1>Confidence Ratings</h1>

<table>
  <thead>
    <tr>
      <th>Confidence level</th>
      <th>Reason</th>
      <th>Rater</th>
    </tr>
  </thead>

  <tbody>
    <% @confidence_ratings.each do |confidence_rating| %>
      <tr>
        <td><%= confidence_rating.confidence_level %></td>
        <td><%= confidence_rating.reason %></td>
        <td><%= confidence_rating.rater %></td>
        <td><%= link_to 'Show', confidence_rating %></td>
        <td><%= link_to 'Edit', edit_confidence_rating_path(confidence_rating) %></td>
        <td><%= link_to 'Destroy', confidence_rating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Confidence Rating', new_confidence_rating_path %>
