<% if logged_in? %>
  <div class="UserNews">
      <h2>My news</h2>
      <ol class="list-group UserNews">
        <%= render @allMyNews%>
      </ol>
  </div>    
<% else %>
  <div class="center">
    <h1>Welcome to the Serler App</h1>
    <h2>
      This is the home page for the
      <a href="http://www.railstutorial.org/">Serler</a>
      sample application.
    </h2>
    <%= link_to "Sign in now!", login_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary signupbutton"%>
  </div>
<% end %>

<div class="lastArticlesNew">
  <%= render 'shared/latesHighestRatingTenPost' %>
</div>
<div class="lastArticlesNew">
  <%= render 'shared/latestTenPost'%>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>



