<p id="notice"><%= notice %></p>

<p>
  <strong>Context how:</strong>
  <%= @evidence_item.context_how %>
</p>

<p>
  <strong>Context why:</strong>
  <%= @evidence_item.context_why %>
</p>

<p>
  <strong>Context who:</strong>
  <%= @evidence_item.context_who %>
</p>

<p>
  <strong>Context what:</strong>
  <%= @evidence_item.context_what %>
</p>

<p>
  <strong>Context where:</strong>
  <%= @evidence_item.context_where %>
</p>

<p>
  <strong>Context when:</strong>
  <%= @evidence_item.context_when %>
</p>

<p>
  <strong>Benefit:</strong>
  <%= @evidence_item.benefit %>
</p>

<p>
  <strong>Result:</strong>
  <%= @evidence_item.result %>
</p>

<p>
  <strong>Inserttime:</strong>
  <%= @evidence_item.insertTime %>
</p>

<%= link_to 'Edit', edit_evidence_item_path(@evidence_item) %> |
<%= link_to 'Back', evidence_items_path %>
