<p id="notice"><%= notice %></p>

<h1>Evidence Sources</h1>

<table>
  <thead>
    <tr>
      <th>Bib ref</th>
      <th>Research level</th>
      <th>Inserttime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evidence_sources.each do |evidence_source| %>
      <tr>
        <td><%= evidence_source.bib_ref %></td>
        <td><%= evidence_source.research_level %></td>
        <td><%= evidence_source.insertTime %></td>
        <td><%= link_to 'Show', evidence_source %></td>
        <td><%= link_to 'Edit', edit_evidence_source_path(evidence_source) %></td>
        <td><%= link_to 'Destroy', evidence_source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evidence Source', new_evidence_source_path %>
