<p id="notice"><%= notice %></p>

<h1>Evidence Sources</h1>

<table>
  <thead>
    <tr>
      <th>page_numbers</th>
      <th>DOI</th>
      <th>publisher</th>
      <th>journal_book</th>
      <th>publisher</th>
      <th>source</th>
      <th>author</th>
      <th>title</th>
      <th>rating</th>
      <th>research_level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evidence_sources.each do |evidence_source| %>
      <tr>
        <td><%= evidence_source.page_numbers %></td>
        <td><%= evidence_source.DOI %></td>
        <td><%= evidence_source.publisher %></td>
        <td><%= evidence_source.journal_book %></td>
        <td><%= evidence_source.source %></td>
        <td><%= evidence_source.author %></td>  
        <td><%= evidence_source.title %></td>
        <td><%= evidence_source.rating %></td>
        <td><%= evidence_source.research_level %></td>
        <td><%= link_to 'Show', evidence_source %></td>
        <td><%= link_to 'Edit', edit_evidence_source_path(evidence_source) %></td>
        <td><%= link_to 'Destroy', evidence_source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evidence Source', new_evidence_source_path %>
