<p id="notice"><%= notice %></p>

<p>
  <strong>Bib ref:</strong>
  <%= @evidence_source.bib_ref %>
</p>

<p>
  <strong>Research level:</strong>
  <%= @evidence_source.research_level %>
</p>

<p>
  <strong>Inserttime:</strong>
  <%= @evidence_source.insertTime %>
</p>

<%= link_to 'Edit', edit_evidence_source_path(@evidence_source) %> |
<%= link_to 'Back', evidence_sources_path %>
