<p id="notice"><%= notice %></p>

<p>
  <strong>page_numbers:</strong>
  <%= @evidence_source.page_numbers %>
</p>

<p>
  <strong>number:</strong>
  <%= @evidence_source.number %>
</p>

<p>
  <strong>DOI:</strong>
  <%= @evidence_source.DOI %>
</p>

<p>
  <strong>publisher:</strong>
  <%= @evidence_source.publisher %>
</p>

<p>
  <strong>journal_book:</strong>
  <%= @evidence_source.journal_book %>
</p>

<p>
  <strong>source:</strong>
  <%= @evidence_source.source %>
</p>

<p>
  <strong>year:</strong>
  <%= @evidence_source.year %>
</p>

<p>
  <strong>author:</strong>
  <%= @evidence_source.author %>
</p>

<p>
  <strong>title:</strong>
  <%= @evidence_source.title %>
</p>

<p>
  <strong>rating:</strong>
  <%= @evidence_source.rating %>
</p>

<p>
  <strong>Research level:</strong>
  <%= @evidence_source.research_level %>
</p>



<%= link_to 'Edit', edit_evidence_source_path(@evidence_source) %> |
<%= link_to 'Back', session[:forwarding_url] || evidence_sources_path %>
<% session.delete(:forwarding_url) %>

    


