<%= form_for(method_sdm) do |f| %>
  <% if method_sdm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(method_sdm.errors.count, "error") %> prohibited this method_sdm from being saved:</h2>

      <ul>
      <% method_sdm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :insertTime %>
    <%= f.datetime_select :insertTime %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
