<p id="notice"><%= notice %></p>

<h1>Method Sdms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @method_sdms.each do |method_sdm| %>
      <tr>
        <td><%= method_sdm.name %></td>
        <td><%= method_sdm.description %></td>
        <td><%= link_to 'Show', method_sdm %></td>
        <td><%= link_to 'Edit', edit_method_sdm_path(method_sdm) %></td>
        <td><%= link_to 'Destroy', method_sdm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Method Sdm', new_method_sdm_path %>
