<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @method_sdm.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @method_sdm.description %>
</p>

<%= link_to 'Edit', edit_method_sdm_path(@method_sdm) %> |
<%= link_to 'Back', method_sdms_path %>
