<p id="notice"><%= notice %></p>

<h1>Credibility Ratings</h1>

<table>
  <thead>
    <tr>
      <th>Credibility level</th>
      <th>Reason</th>
      <th>Rater</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @credibility_ratings.each do |credibility_rating| %>
      <tr>
        <td><%= credibility_rating.credibility_level %></td>
        <td><%= credibility_rating.reason %></td>
        <td><%= credibility_rating.rater %></td>
        <td><%= link_to 'Show', credibility_rating %></td>
        <td><%= link_to 'Edit', edit_credibility_rating_path(credibility_rating) %></td>
        <td><%= link_to 'Destroy', credibility_rating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Credibility Rating', new_credibility_rating_path %>
