<p id="notice"><%= notice %></p>

<h1>Research Designs</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Method</th>
      <th>Metrics</th>
      <th>Participants</th>
      <th>Inserttime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @research_designs.each do |research_design| %>
      <tr>
        <td><%= research_design.question %></td>
        <td><%= research_design.method %></td>
        <td><%= research_design.metrics %></td>
        <td><%= research_design.participants %></td>
        <td><%= research_design.insertTime %></td>
        <td><%= link_to 'Show', research_design %></td>
        <td><%= link_to 'Edit', edit_research_design_path(research_design) %></td>
        <td><%= link_to 'Destroy', research_design, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Research Design', new_research_design_path %>
