<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @research_design.question %>
</p>

<p>
  <strong>Method:</strong>
  <%= @research_design.method %>
</p>

<p>
  <strong>Metrics:</strong>
  <%= @research_design.metrics %>
</p>

<p>
  <strong>Participants:</strong>
  <%= @research_design.participants %>
</p>


<%= link_to 'Edit', edit_research_design_path(@research_design) %> |
<%= link_to 'Back', research_designs_path %>
